html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

li {
  font-size: 1.125rem;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  text-align: center;
  float: left;
  width: 33.3333%;
}

ul {
  overflow: hidden;
  background-color: #d05c2e;
  border: 1.5px solid #a63f38;
}

li:hover {
  background-color: #a63f38;
  color: #fff;
}

header {
  float: none;
  width: 100%;
  background-color: #d05c2e;
}

img {
  width: 8%;
  margin: 1em .5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}
